body{
  margin: 0px;
  font-family: 'Cinzel', serif;
  background-color: antiquewhite;
}

h1 {
  font-size: 3em;
}

button {
  font-size: 1.2em;
  font-family: 'Cinzel', serif;
  background-color: teal; /* Green */
  color: white;
  padding: 8px 15px;
  text-align: center;
}

.container {
  height: 120vh;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center
}

form {
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

input, select {
  margin: 15px;
  border-style: ridge;
  background-color: aliceblue;
  border-width: 5px;
  font-size: 1.5em;
  font-family: 'EB Garamond', serif;
}

/* .signInForm {
  padding-bottom: 100px;
} */

.submitButton {
  margin-bottom: 25px;
}
