body{
  margin: 0px;
}

.signUpButton {
  background-color: teal; /* Green */
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 15px;
}


.container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center
}

form {
  height: 200px;
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.loginForm input{
  margin-right: 15px;
  font-size: 13px;

}
.loginForm label{
  font-size: 15px;
  padding-bottom: 15px;
}

.signInForm input{
  margin-right: 15px;
  font-size: 13px
}
.loginForm label{
  font-size: 15px;
}

#logoutButton{
  background-color: teal; /* Green */
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 15px;
  margin-left: 15px;
  height: 40px;
}


.submitButton{
  background-color: teal; /* Green */
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 15px;
}

#characterDropdown{
  border: none;
  font-size: 15px;
  margin-right: 15px;

}
